div#header {
    background-color: #0099ff;
    color: black;
    font-family:'Noto Sans JP';
    text-align:center;
}

div#sidebarl {
    background-color: #0099ff;
    color: black;
    border: solid white 2px;
    width: 20%;
    text-align: center;
    position: static;
    top: 0px;
    float: left;
    padding: 0;
}

div#sidebarr {
    color: black;
    font-family: 'Noto Sans JP';
    width: 20%;
    text-align: center;
    position: static;
    top: 0px;
    float: right;
    padding: 0;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

p.crosshead {
    font-size: larger;
    font-family: 'Noto Sans JP';
    border: inset #aaaaaa 5px;
    border-left-color: aqua;
    background-color: dimgray;
}

p {
    margin: 0px 0px;
}


div#box {
    background-color: #555555;
    border: outset;
    width: 50%;
    margin: 0 auto 0 auto;
}

div.content {
    background-color: gray;
    border:solid;
    font-family: 'Meiryo UI','ÉÅÉCÉäÉI',Meiryo;
}

h1 {
    font-size:300%;
}


body {
   font-family:'Noto Sans JP';
   background-color: black;
   color:white;
}

@media (prefers-color-scheme: light){
    body {
        background-color: #f9f9f9;
        color: black;
    }
    div.box {
        background-color: #eeeeee;
    }
    div.content {
        background-color: lightgray;
    }
    p.crosshead {
        background-color: white;
        border: outset white 5px;
        border-left-color: aqua;
    }
    a:link {
        color: black;
    }

    a:visited {
        color: black;
    }

    a:hover {
        color: black;
    }

    a:active {
        color: black;
    }

}

@media(max-width:950px) and (min-width:600px) {

    h1 {
        font-size: 200%;
    }

}

@media(max-width:599px){

    h1 {
        font-size: 150%;
    }

}

@media(max-width:950px){
    div#box {
        width: 100%;
        margin: 0 auto 0 auto;
    }
    div#sidebarl {
    display:none;
    }
    div#sidebarr {
        display: none;
    }
}

/*--SIDEBAR ANIMATION--*/

div#side_2020 {
    background-color: aqua;
    cursor: pointer;
}

div#s_2020 {
    background-color: #0099ff;
    display:none;
}

div#toggle_ {
    cursor:pointer;
}

#toggle_2020:checked ~ div#s_2020 {
    display:block;
}